# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editor Folders
.idea
.vscode

# Build
API/
build/
source/.buildinfo
source/*.inv
source/_outputs/
source/python_examples/data/
source/matlab_examples/*.html
source/python_examples/notebooks/*
!source/python_examples/notebooks/README.md
